body.blog article {
    h2 {
        margin-top: $line-height-computed * 3;
        margin-bottom: $line-height-computed;
    }

    table {
        @extend .table;
        @extend .table-striped;
        @extend .table-condensed;
    }

    p {
        margin-bottom: $line-height-computed;
    }

    ul {
        margin-bottom: $line-height-computed;
    }

    blockquote {
        font-size: ceil($font-size-base * 1.1);

        p:last-child {
            margin-bottom: 0;
        }
    }

    code {
        font-size: floor($font-size-base * 0.9);
    }

    figure {
        margin-bottom: $line-height-computed;
        img {
            max-width: 100%;
        }
        figcaption {
            margin-top: 4px;
            font-size: $font-size-small;
            color: gray;
        }
    }

    figure.portrait {
        width: 200px;
        img {
            max-width: 200px;
        }
    }

    img {
        max-width: 100%;
    }

    img.blog-top {
        max-width: 100%;
        height: auto;
    }

    .blog-left {
        float: left;
        margin-right: 15px;
    }

    .blog-right {
        float: right;
        margin-left: 15px;
    }

    @media (max-width: $screen-xs-max) {
        .blog-left, .blog-right {
            float: none;
            margin-left: 0;
            margin-right: 0;
        }
        figure.portrait {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.blog-header {
    .blog-pubdate {
        margin-bottom: ($line-height-computed / 4);
        font-weight: bold;
        color: gray;
    }

    .blog-title {
        margin-top: 0;
        @include heading-underline;
    }
}

.blog-articles {
    .blog-title a {
        color: $text-color;
        &:hover,
        &:focus {
            color: $link-hover-color;
        }
    }

    .blog-metadata {
        margin-bottom: $line-height-computed;
        font-size: ceil($font-size-base * 0.8);

        .blog-pubdate {
            color: $gray-light;
            margin: 0 .6em;
        }

        .tags {
            display: inline;
        }
    }

    @media (max-width: $screen-xs-max) {
        $padding-vertical: $line-height-computed;
        margin-top: -$padding-vertical;
        margin-bottom: -$padding-vertical;

        .media {
            padding-top: $padding-vertical;
            padding-bottom: $padding-vertical;
            border-bottom: 1px solid #ddd;
            &:last-child { border-bottom: none; }
        }

        .media-left {
            display: block;
            width: 100%;
            margin-bottom: ($line-height-computed / 2);
            text-align: center;
        }
    }
}

.tags {
    margin-bottom: ($line-height-computed / 2);
    padding: 0;

    .label {
        font-size: ceil($font-size-base * 0.8);
    }

    .label-tag {
        color: lighten($brand-primary, 10%);
    }

    a.label-tag:hover {
        color: darken(lighten($brand-primary, 10%), 15%);
        text-decoration: underline;
    }
}

.social-buttons {
    padding: 12px;
    text-align: center;
    line-height: 1;
    background-color: #f8f8f8;

    .button {
        display: inline-block;

        & + .button {
          margin-left: 15px;
        }
    }
}

.pager {
    margin: ($line-height-computed / 2 - 6) 0 0;
    font-size: ceil($font-size-base * 0.9);
    li a {
        margin-top: 6px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}

.footnotes {
    font-size: $font-size-small;
    margin-bottom: $line-height-computed;
    li p {
        margin-bottom: ($line-height-computed / 4);
    }
}
