body.blog {
    table {
        @extend .table;
        @extend .table-striped;
        @extend .table-condensed;
    }
}

.blog-header {
    margin-bottom: 15px;
    .blog-pubdate {
        font-size: 87%;
        font-weight: bold;
        color: gray;
    }
    .blog-title {
        margin-top: 0;
    }
}

.blog-articles {
    list-style-type: none;

    dt {
        float: left;
        clear: left;
        &:after {
            content: '\00a0';
        }
    }
}
