body.blog {
    table {
        @extend .table;
        @extend .table-striped;
        @extend .table-condensed;
    }

    p {
        margin-bottom: $line-height-computed;
    }

    figure {
        margin-bottom: $line-height-computed;
        img {
            max-width: 100%;
        }
        figcaption {
            margin-top: 4px;
            font-size: $font-size-small;
            color: gray;
        }
    }

    figure.portrait {
        width: 200px;
        img {
            max-width: 200px;
        }
    }

    img.blog-top {
        max-width: 100%;
        height: auto;
    }

    .blog-left {
        float: left;
        margin-right: 15px;
    }

    .blog-right {
        float: right;
        margin-left: 15px;
    }

    @media (max-width: $screen-xs-max) {
        .blog-left, .blog-right {
            float: none;
            margin-left: 0;
            margin-right: 0;
        }
        figure.portrait {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.blog-header {
    margin-bottom: 15px;
    .blog-pubdate {
        margin-bottom: ($line-height-computed / 4);
        font-weight: bold;
        color: gray;
    }
    .blog-title {
        margin-top: 0;
        @include heading-underline;
    }
}

.blog-articles {
    @include description-list;
}

.label-tag {
    background-color: lighten($brand-primary, 20%);
}

.pager {
    margin: ($line-height-computed / 2 - 6) 0 0;
    font-size: ($font-size-base - 1);
    li a {
        margin-top: 6px;
    }
}
