@mixin thumbnail($width, $height) {
    display: block;
    text-align: center;
    width: $width;
    > img {
        max-width: $width;
        max-height: $height;
    }
}

@mixin description-list {
    list-style-type: none;
    dt {
        float: left;
        clear: left;
        font-weight: normal;
        &:after {
            content: ':\00a0';
        }
    }
}

@media (max-width: $screen-xs-max) {
    .media {
        @include make-row;
    }
    .media-left {
        @include make-xs-column(12);
    }
    .media-body {
        @include make-xs-column(12);
        margin-top: 10px;
    }
}

.media-body {
    width: 100%;
}

.label { // customize Bootstrap's .label
    padding: .2em .6em;
    font-weight: normal;
    border-radius: 0;
}

.label-illust {
    background-color: #75ace3;
}

.label-comic {
    background-color: #a0be79;
}

.books-grid {
    .media {
        margin-bottom: 15px;
    }
    margin-bottom: -15px;
}

.media-list + h2 {
    margin-top: floor($line-height-computed * 2);
}

.circle-cut-thumbnail {
    @include thumbnail(150px, 150px);
}

.book-cover-thumbnail {
    @include thumbnail(150px, 200px);
    > img {
        border: 1px solid #eee;
    }
}

.event-description {
    @include description-list;
}

.book-description {
    @include description-list;
}

.contributions {
    dt {
        margin-top: 10px;
    }
    dt:first-child {
        margin-top: 0;
    }
    dd {
        margin-bottom: 4px;
    }
}
