@mixin thumbnail {
    display: block;
    text-align: center;
    width: 150px;
    > img {
        max-width: 150px;
        max-height: 150px;
    }
}

@mixin description-list {
    list-style-type: none;
    dt {
        float: left;
        clear: left;
        font-weight: normal;
        &:after {
            content: ':\00a0';
        }
    }
}

@media (max-width: $screen-xs-max) {
    .media {
        @include make-row;
    }
    .media-left {
        @include make-xs-column(12);
    }
    .media-body {
        @include make-xs-column(12);
        margin-top: 10px;
    }
}

.media-body {
    width: 100%;
}

.circle-cut-thumbnail {
    @include thumbnail;
}

.book-cover-thumbnail {
    @include thumbnail;
    background-color: #eee;
}

.event-description {
    @include description-list;
}

.book-description {
    @include description-list;
}
