@mixin thumbnail($width, $height) {
    display: block;
    text-align: center;
    width: $width;
    > img {
        max-width: $width;
        max-height: $height;
    }
}

.media-body {
    width: 100%;

    .btn {
        margin-bottom: 6px;
    }
}

.label-illust {
    background-color: $brand-info;
}

.label-comic {
    background-color: $brand-success;
}

.label-other {
    background-color: gray;
}

.label-format {
    background-color: lighten($brand-primary, 20%);
}

.btn-booth {
    @include button-variant(#fff, #e6302d, darken(#e6302d, 5%));
    &:after {
        content: "(BOOTH)";
    }
}

.books-grid {
    .media {
        margin-bottom: 25px;
    }
    margin-bottom: -25px; // reset .media's margin

    .media-heading {
        @include heading-underline;
    }
}

.media-list + h2 {
    margin-top: floor($line-height-computed * 2);
}

.circle-cut-thumbnail {
    @include thumbnail(150px, 150px);
}

.book-cover-thumbnail {
    @include thumbnail(150px, 200px);
    > img {
        border: 1px solid #eee;
    }
}

.event-description {
    @include description-list;
}

.book-description {
    @include description-list;
}

.contributions {
    dt:not(:first-child) {
        margin-top: ($line-height-computed / 2);
    }
}

@media (max-width: $screen-xs-max) {
    .media {
        @include make-row;
    }

    .media-left {
        @include make-xs-column(12);
        text-align: center;
    }

    .media-body {
        @include make-xs-column(12);
        margin-top: 10px;
    }

    .books-grid {
        .media {
            margin-top: ($line-height-computed / 2);
            margin-bottom: 50px;
        }
        margin-bottom: -50px; // reset .media's margin
    }

    .book-cover-thumbnail {
        @include thumbnail(100%, none);
        > img {
            width: 200px;
        }
    }
}
