.updates {
    @include description-list;
    @media (min-width: $screen-sm-min) {
        margin-bottom: ($line-height-computed / 4);
    }
}

.profile-heading {
    padding-bottom: 4px;
    margin-bottom: 8px;
    border-bottom: 1px dashed #ccc;
}

.profile-icon {
    float: right;
    padding-left: 20px;
    > img {
        width: 200px;
    }

    @media (max-width: $screen-xs-max) {
        float: none;
        padding-left: 0;
        margin-top: ($line-height-computed * 2);
        text-align: center;
    }
}

.social-links {
    padding-left: 2px;
    font-size: floor($font-size-base * 1.125);
    li {
        display: inline;
    }
    .label {
        padding: .3em .7em;
    }
}

.label-twitter {
    background-color: #55acee;
    &:hover {
        background-color: darken(#55acee, 15%);
    }
}

.label-pixiv {
    background-color: #0096db;
    &:hover {
        background-color: darken(#0096db, 15%);
    }
}

.label-github {
    background-color: #333;
    &:hover {
        background-color: darken(#333, 15%);
    }
}

.label-blog {
    background-color: $brand-success;
}

.label-event {
    background-color: $brand-info;
}
