#gallery {
    $gallery-gutter-size: 10px;

    margin-left: -($gallery-gutter-size / 2);
    margin-right: -($gallery-gutter-size / 2);

    .gallery-item {
        float: left;
        margin-left: ($gallery-gutter-size / 2);
        margin-right: ($gallery-gutter-size / 2);
        margin-bottom: $gallery-gutter-size;

        img:hover {
            opacity: 0.7;
        }
    }
}

#gallery-loading {
    width: 100%;
    text-align: center;

    .gallery-loading-icon {
        display: inline-block;
        padding: 20px;
        border-radius: 4px;
        font-size: 30px;
        line-height: 1;
        color: #fff;
        background: rgba(#000, 0.3);
    }
}

.event-list {
    @include description-list;
}

.updates {
    @include description-list;
}

#profile {
    margin: 40px 0;
    padding: 30px 25px 40px;
    border: 1px solid #ddd;

    @media (max-width: $screen-xs-max) {
        padding: 40px 0 0;
        border: none;
    }
}

.profile-heading {
    @include heading-underline;

    margin-top: 0 !important;
}

.profile-icon {
    float: right;
    padding-left: 20px;
    > img {
        width: 200px;
    }

    @media (max-width: $screen-xs-max) {
        float: none;
        padding-left: 0;
        margin-bottom: 20px;
        text-align: center;
    }
}

.social-links {
    display: inline-block;
    margin-bottom: 0;
    padding: 0;
    vertical-align: 3px;

    li {
        display: inline;
    }
}

.btn-twitter {
    @include button-variant(#fff, #55acee, darken(#55acee, 5%));
}

.btn-pixiv {
    @include button-variant(#fff, #0096db, darken(#0096db, 5%));
}

.btn-tumblr {
    @include button-variant(#fff, #35465c, darken(#35465c, 5%));
}

.btn-github {
    @include button-variant(#fff, #333, darken(#333, 5%));
}

.label-blog {
    background-color: $brand-success;
}

.label-event {
    background-color: $brand-info;
}
