$headings: h1, h2, h3, ".h1", ".h2", ".h3";

@each $h in $headings {
    #{$h}:not(:first-child) {
        margin-top: floor($line-height-computed * 1.4);
    }
}

.content {
    @each $h in $headings {
        > #{$h}:before {
            @extend .glyphicon;
            content: "\e080"; // .glyphicon-chevron-right
            font-size: $font-size-small;
            margin-right: .5em;
            vertical-align: .25em;
        }
    }

    &:after { // clearfix
        content: "";
        display: block;
        clear: both;
    }
}

a.external:after {
    @extend .glyphicon;
    content: "\e164"; // .glyphicon-new-window
    margin-right: .2em;
    font-size: x-small;
    color: #ccc;
}

dl {
    margin-bottom: ($line-height-computed / 2); // equal to margin of <p>
}

.label { // customize Bootstrap's .label
    padding: .2em .6em;
    font-weight: normal;
    border-radius: 0;
}

.labels {
    padding: 0;
    margin-bottom: ($line-height-computed / 2);
}

.footer {
    margin: 20px 0 25px 0;
    padding-top: 20px;
    border-top: 1px solid #eeeeee;
    text-align: center;
}

.copyright {
    color: gray;
}
