$headings: h1, h2, h3, ".h1", ".h2", ".h3";

@each $h in $headings {
    #{$h}:not(:first-child) {
        margin-top: floor($line-height-computed * 1.4);
    }
}

.content {
    @each $h in $headings {
        > #{$h}:before {
            @extend .glyphicon;
            content: "\e080"; // .glyphicon-chevron-right
            font-size: $font-size-small !important;
            margin-right: .5em;
            vertical-align: .25em;
        }
    }

    &:after { // clearfix
        content: "";
        display: block;
        clear: both;
    }
}

@media (min-width: $screen-sm-min) {
    body {
        /*! Background pattern from subtlepatterns.com */
        background-image: url('/assets/img/transp_bg.png');
        background-attachment: fixed;
    }

    .container {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
        border: 1px solid #ddd;
        background: #fff;
    }
}

a.external:after {
    @extend .glyphicon;
    content: "\e164"; // .glyphicon-new-window
    margin-right: .2em;
    font-size: 80% !important;
    color: #aaa;
}

dl {
    margin-bottom: ($line-height-computed / 2); // equal to margin of <p>
}

.glyphicon {
    font-size: 85%;
}

.label { // customize Bootstrap's .label
    padding: .2em .6em .15em;
    font-weight: normal;
    border-radius: 0;
    vertical-align: 1px; // HOTFIX
}

.labels {
    padding: 0;
    margin-bottom: ($line-height-computed / 2);
}

.space-no {
    font-weight: bold;

    &:before { content: "【"; }
    &:after  { content: "】"; }
}

.footer {
    margin: 20px 0 25px 0;
    padding-top: 20px;
    border-top: 1px solid #eeeeee;
    text-align: center;
}

.copyright {
    color: gray;
}
