.content {
    > h1, > .h1,
    > h2, > .h2,
    > h3, > .h3 {
        &:before {
            @extend .glyphicon;
            content: "\e080"; // .glyphicon-chevron-right
            font-size: small;
            margin-right: .5em;
            vertical-align: .25em;
        }
        &:not(:first-child) {
            margin-top: floor($line-height-computed * 1.2);
        }
    }
}

a.external:after {
    @extend .glyphicon;
    content: "\e164"; // .glyphicon-new-window
    font-size: small;
}

.footer {
    margin: 20px 0 25px 0;
    padding-top: 20px;
    border-top: 1px solid #eeeeee;
    text-align: center;
}

.copyright {
    color: gray;
}
