@mixin description-list {
    dt {
        &:after {
            content: "\00a0";
        }
    }

    dd {
        margin-bottom: (($line-height-computed - $font-size-base) / 2);
    }

    @media (min-width: $screen-sm-min) {
        dt {
            float: left;
            clear: left;
        }
    }

    @media (max-width: $screen-xs-max) {
        dd {
            margin-bottom: $line-height-computed / 2;
        }
    }
}

@mixin heading-underline {
    padding-bottom: 4px;
    margin-bottom: 8px;
    border-bottom: 1px dashed #ccc;
}
