@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.main-menu {
    li > a {
        font-weight: bold;
        color: #aaa;
        &:hover {
            color: #333;
            background: none;
        }
    }
    li.active > a {
        background: none;
        color: #333;
        text-decoration: underline;
        &:hover {
            color: inherit;
            background: none;
        }
    }
}

.logo {
    a {
        color: #222;
    }
}

.footer {
    margin: 20px 0 25px 0;
    padding-top: 20px;
    border-top: 1px solid #eeeeee;
    text-align: center;
}

.copyright {
    color: gray;
}

.event-description {
    list-style-type: none;

    dt {
        float: left;
        clear: left;
        font-weight: normal;
        &:after {
            content: ':\00a0';
        }
    }
}

.circle-cut-thumbnail {
    text-align: center;
    width: 150px;
    & > img {
        max-width: 150px;
        max-height: 150px;
    }
}
