---
title: ブログ
---
<h2>ブログ記事一覧</h2>
<dl class="blog-articles">
  <% blog.articles.each do |article| %>
    <dt><%= time_tag article.date %></dt>
    <dd><a href="<%= article.url %>"><%= article.title %></a></dd>
  <% end %>
</dl>
