---
title: コメントフォーム
---
h2 コメントフォーム
.row
  .col-lg-5
    p ここでは、notozekiに一方的にコメントを送りつけることができます。以下の点にご留意ください。
    ul
      li いただいたコメントを外部に公開することはありません。
      li いかなる内容であれ、ここからいただいたコメントには返信いたしません。問い合わせなど、返信が必要な連絡には#{mail_to 'notozeki@gmail.com', 'メール'}などの別の手段をご利用ください。
      li コメントはGoogleのサーバに送られ、保存されます。Googleが信用できない・嫌いな方は使用をお控えください。

  .col-lg-7
    form action="https://script.google.com/macros/s/AKfycbwtMVt6z8gxdDyBXIpBgoHBKzxZJJyAvue5snL1S96vVCuLHu4/exec" method="POST" onsubmit="return validate();"
      .form-group
        label for="comment-name" class="optional" お名前
        input.form-control type="text" name="name" id="comment-name" tabindex="1"
      .form-group
        label for="comment-subject" class="optional" 件名
        input.form-control type="text" name="subject" id="comment-subject" tabindex="2"
      .form-group
        label for="comment-body" コメント
        textarea.form-control name="body" id="comment-body" rows="8" tabindex="3"
      input type="hidden" name="referer" id="comment-referer"
      button.btn.btn-default type="submit" tabindex="4" 送信

javascript:
  function validate() {
    var body = document.getElementById('comment-body');
    if (body.value.trim && body.value.trim() == '') {
      alert('コメントを入力してください。');
      return false;
    }
    return confirm('コメントを送信します。よろしいですか？');
  }

  document.addEventListener('DOMContentLoaded', function () {
    var query = location.href.split('?')[1];
    var rawParams = query ? query.split('&') : [];
    var params = rawParams.reduce(function (res, param) {
      var pair = param.split('=');
      res[pair[0]] = pair[1];
      return res;
    }, {});

    if (params['subject'] && params['subject'] != '') {
      var subject = document.getElementById('comment-subject');
      subject.value = decodeURIComponent(params['subject'].replace(/\+/g, ' '));
    }

    if (params['referer'] && params['referer'] != '') {
      var subject = document.getElementById('comment-referer');
      subject.value = decodeURIComponent(params['referer']);
    }
  }, false);
