<h2>更新情報</h2>
<dl class="updates">
<% latest_updates.each do |update| %>
  <dt><%= time_tag update.date %></dt>
  <dd><a href="<%= update.link %>"><%= update.content %></a></dd>
<% end %>
</dl>
<p><a href="/old-updates">過去の更新</a></p>

<section>
  <header>
    <div class="profile-icon">
      <img src="/assets/img/notozeki-icon.png" class="img-circle">
    </div>

    <h1 class="profile-heading">notozeki/のとぜき</h1>

    <ul class="social-links">
      <li><a href="https://twitter.com/notozeki" class="label label-twitter"><i class="fa fa-twitter"></i> Twitter</a></li>
      <li><a href="http://pixiv.me/notozeki" class="label label-pixiv">pixiv</a></li>
      <li><a href="https://github.com/notozeki" class="label label-github"><i class="fa fa-github"></i> GitHub</a></li>
    </ul>
  </header>

  <p>
    主に絵を描くひとです。漫画やイラストを制作し、同人イベントに参加しています。
    詳しくは「<a href="/doujin/">同人活動</a>」をご覧ください。
  </p>
  <p>連絡などありましたら<a href="mailto:notozeki@gmail.com">notozeki@gmail.com</a>までどうぞ。</p>
</section>
