#gallery.clearfix
p#gallery-caption
  small
    ' pictures from 
    = link_to 'http://notozeki.tumblr.com' do
      | notozeki.tumblr.com #{fa 'angle-double-right'}

- if upnext_events.any?
  h2 イベント参加
  dl.event-list
    - for event in upnext_events
      dt = time_tag event.date
      dd
        strong
          - if event.url
            = link_to event.name, event.url, class: 'external'
          - else
            = event.name
        span.text-nowrap
          span.space-no = event.space
          = event.circle
  p = link_to "#{fa 'angle-double-right'} 詳しく見る", '/doujin/#upnext'

h2 更新情報
dl.updates
  - for update in latest_updates
    dt
      => time_tag update.date
      span class="label #{update['class']}" = update.type
    dd
      = link_to update.content, update.link
- if old_updates.any?
  p = link_to "#{fa 'angle-double-right'} 過去の更新", 'old-updates.html'

section#profile
  header
    div.profile-icon
      img src="/assets/img/notozeki-icon.png" class="img-circle"

    h1.profile-heading
      ' notozeki/のとぜき
      ul.social-links
        li> = link_to 'https://twitter.com/notozeki', class: 'btn btn-twitter btn-xs', target: '_blank' do
          | #{fa 'twitter'} Twitter
        li> = link_to 'http://pixiv.me/notozeki', class: 'btn btn-pixiv btn-xs', target: '_blank' do
          | #{fa 'paint-brush'} pixiv
        li> = link_to 'http://notozeki.tumblr.com/', class: 'btn btn-tumblr btn-xs', target: '_blank' do
          | #{fa 'tumblr'} Tumblr
        li> = link_to 'https://github.com/notozeki', class: 'btn btn-github btn-xs', target: '_blank' do
          | #{fa 'github'} GitHub

  p 主に絵を描くひとです。たまにプログラミングもします。
  p 漫画やイラストを制作し、同人イベントに参加しています。詳しくは「#{link_to '同人活動', '/doujin/'}」をご覧ください。
  p
    | 連絡などありましたら #{mail_to 'notozeki@gmail.com'} までどうぞ。
      一方的にコメントを送りたいときは「#{link_to 'コメントフォーム', '/comment.html'}」もご利用いただけます。

= javascript_include_tag 'tumblr'

javascript:
  var tumblrBlogHost = 'notozeki.tumblr.com';
  var tumblrAPIKey = '5Z3xoviP3BI6WwspdX1zDou2PBA1nKELgxMeYjb4dsbW6tYo6A';
  var tumblr = new Tumblr(tumblrBlogHost, tumblrAPIKey);
  var tumblrTag = 'カラー';
  
  function initGallery(posts) {
    var gallery = $('#gallery').empty();
    var i = 0;
    var maxWidth = gallery.width() - 2;
    var maxHeight = 300;
    var gutterWidth = 10; // MUST be same as $gallery-gutter-size of _home.scss
    var numRows = 2;
    
    for (var rows = 0; rows < numRows; rows++) {
      var rowPosts = [];
      var rowWidth = 0;
      var rowHeight = maxHeight;
      var base = null;

      while (rowHeight >= maxHeight && i < posts.length) {
        var post = posts[i++];
        var pic = getPhoto(post);
        if (base === null) base = pic;
        rowPosts.push(post);
        
        var contentWidth = maxWidth - (rowPosts.length * gutterWidth);
        rowWidth += base.height * pic.width / pic.height;
        rowHeight = contentWidth * base.height / rowWidth;
      }
      if (rowHeight > maxHeight) rowHeight = maxHeight;

      $.each(rowPosts, function (_, post) {
        gallery.append(
          $('<div>', {class: 'gallery-item'}).append(
            $('<a>', {href: post.post_url}).append(
              $('<img>', {src: getPhoto(post).url, height: Math.floor(rowHeight)})
            )
          )
        );
      });
    }
  };
  
  function getPhoto (post) {
    return post.photos[0].alt_sizes[3]; // 250px
  }

  function beginLoading() {
    $('#gallery').before($('<div>', {id: 'gallery-loading'}).append(
      $('<span>', {class: 'gallery-loading-icon'}).append(
        $('<span>', {class: 'fa fa-spinner fa-pulse'})
      )
    ));
    $('#gallery').css({opacity: 0.0, height: 0, overflow: 'hidden'});
    $('#gallery-caption').hide();
  }
  
  function endLoading() {
    $('#gallery-loading').remove();
    $('#gallery').css({height: 'auto'}).fadeTo('slow', 1.0);
    $('#gallery-caption').show();
  }
  
  $(document).ready(beginLoading);
  $(window).load(endLoading);
  
  tumblr.posts('photo', {tag: tumblrTag}, function (blog) {
    $(document).ready(function () { initGallery(blog.posts); });
    $(window).resize(function () { initGallery(blog.posts); });
  });
