<div class="page-header">
  <h1>notozeki works (仮)</h1>
</div>

<ul>
  <li><a href="/doujin/">同人活動</a></li>
  <li><a href="https://twitter.com/notozeki">@notozeki</a></li>
  <li><a href="http://pixiv.me/notozeki">pixiv.me/notozeki</a></li>
</ul>
