<dl class="updates">
  <dt><time datetime="2015-01-11">2015.01.11</time></dt>
  <dd><a href="/doujin/#comitia111">COMITIA111の情報を掲載しました。</a></dd>
</dl>

<ul>
  <li><a href="https://twitter.com/notozeki">@notozeki</a></li>
  <li><a href="http://pixiv.me/notozeki">pixiv.me/notozeki</a></li>
</ul>
