---
title: 同人活動
---
<h2>参加予定のイベント</h2>
<div class="media">
  <div class="media-left circle-cut-thumbnail">
    <a href="/assets/img/comitia111cc.png">
      <img src="/assets/img/comitia111cc.png" alt="COMITIA111サークルカット">
    </a>
  </div>

  <div class="media-body">
    <h3 id="comitia111" class="media-heading">
      COMITIA111 <small><a href="http://comitia.co.jp">公式サイト</a></small>
    </h3>
    <p><time datetime="2015-02-01">2015年2月1日(日)</time> 東京ビッグサイト東5・6ホール</p>
    <dl class="event-description">
      <dt>スペース</dt>
      <dd><strong>J18b</strong> ロヒス屋</dd>
      <dt>頒布物</dt>
      <dd>(未定)</dd>
    </dl>
  </div>
</div>
